<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Peers</title>
</head>
<body>
    <h1>PEERS</h1>
    <br>
    <input type="text" name="msg" id="msg">
    <button>send</button>
      <pre id="outgoing"></pre>
      <script src="/socket.io/socket.io.js"></script>
      <script src="js/jq.js"></script>
      <script src="js/peer.js" type="module"></script> 
</body>
</html>